body{
    height: 100vh;
    margin: 0;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1F2937;
}

ul{
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */  
}

a{
    color: white;
    text-decoration: none;
}

.footer{
    display: flex;
    justify-content: center;
    align-content: center;

}

/*HEADER*/
.header{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
}

.left-links, .right-links{
    display: flex;
    gap: 12px;
}

.left-links{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.right-links{
    font-size: 18px;
    color: #F9FAF8;
    font-weight: bold;  
}

/*FOOTER*/

.footer, .right-links{
    color:white;
    height: 36px;
    font-size: 14px;
}

/*CONTAINER 1*/
.p_header{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.p_secondary{
    font-size: 18px;
    color: #E5E7EB;
}

.b_c1{
    background-color: #3882F6;
    border-radius: 4px;
    border: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    color: #F9FAF8;
    font-weight: bold;
}

.container_1{
    display: flex;
    justify-content: space-between;
    gap:20px;
}

.img{
    max-width: 250px;
    border-radius: 10px;
}

/*CONTAINER 2*/
.container_2{
    background-color: #F9FAF8;
    text-align: center; 
}

.c2_title{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.img2{
    max-width: 100px;
    border-radius: 10px;
}

.cards{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    max-width: 150px;
}